name: CI - Train and save model
on:
 push:
    branches: [main]
 pull_request: 
    branches: [main]

jobs:
    matrix-pip:
        name: Train and save model
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python: [3.12, 3.11]
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python ${{ matrix.python }}
              uses: actions/setup-python@v4
              with:
                python-version: ${{ matrix.python }}
            - name: Install dependencies
              run: python -m pip install --upgrade pip setuptools wheel
            
            - name: Install project dependencies
              run: python -m pip install -r requirements.txt
            
            - name: Train and save model
              run: 
                python train.py
                ls -la artifacts
            
            - name: Upload model artifact
              uses: actions/upload-artifact@v4
              with:
                name: trained-model-${{ matrix.python }}-$(date +%Y%m%d%H%M%S)
                path : artifacts

              